<form action="/videos" method="post">

    <label for="title">Title:</label>
    <input type="text" id="title" name="title">

    <label for="description">Description:</label>
    <input type="text" id="description" name="description">

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre">

    <label for="url">URL:</label>
    <input type="text" id="url" name="url">

    <button type ="submit">Add video</button>

</form>