<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @url %>" frameborder="0" allowfullscreen></iframe>

<form action="/videos/<%= @id %>/edit" method ='get'>
  <button>Edit this video</button>
</form>

<form action="/videos/<%= @id %>/delete" method ='post'>
  <button>Delete this video</button>
</form>
